{% extends 'profiles/profile.html' %}
{% load crispy_forms_tags %}


{% block profile_content %}
<div class="row content-block">
	<div class="col-md-12">
		<h2 id="header">Редактировать информацию</h2>
		<div class="row">
			<div class="col-md-8">
				<ul class="nav nav-tabs profile-update-menu">
					<li role="presentation" class="{% if request.resolver_match.url_name == 'profile_update' or request.resolver_match.url_name == 'profile_create' %}active{% endif %}">
						<a href="
							{% if u.userdetail %}
								{% url 'profile_update' u.pk %}
							{% else %}
								{% url 'profile_create' u.pk %}
							{% endif %}
						#header">Личные данные</a>
					</li>
					{% if u.userdetail %}
						{% if u.userdetail.is_professor %}
						<li role="presentation" class="{% if request.resolver_match.url_name == 'job_update' or request.resolver_match.url_name == 'job_create' %}active{% endif %}">
						<a href="
							{% if u.userdetail.is_professor %}
								{% url 'job_update' u.pk %}
							{% else %}
								{% url 'job_create' u.pk %}
							{% endif %}
						#header">Преподавательская деятельность</a>
						</li>
						{% else %}
							{% if user.is_superuser or user.userdetail.is_professor %}
								<li role="presentation" class="{% if request.resolver_match.url_name == 'education_update' or request.resolver_match.url_name == 'education_create' %}active{% endif %}">
									<a href="
										{% if edu %}
											{% url 'education_update' u.pk %}
										{% else %}
											{% url 'education_create' u.pk %}
										{% endif %}
									#header">Образование</a>
								</li>
							{% endif %}
						{% endif %}
					{% endif %}
					<li role="presentation" class="{% if request.resolver_match.url_name == 'email_update' %}active{% endif %}">
						<a href="{% url 'email_update' u.pk %}">e-mail</a>
					</li>
				</ul>
				<form action="" enctype="multipart/form-data" method="post">{% csrf_token %}
					{{ form|crispy }}
					<input type="submit" class="btn btn-primary" value="Сохранить изменения" />
				</form>
			</div>
		</div>
	</div>
</div>
	
	
{% endblock %}