{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}
	<div class="container-header">
      <div class="container">
        <div class="page-header">
          <h1><i class="fa fa-lock"></i> Изменить пароль</h1>
        </div>
      </div>
    </div>
{% endblock %}

{% block registration_content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>Мы отправили Вам письмо со ссылкой для сброса Вашего пароля</h3>
      <p class="lead">
        {% blocktrans %}
          Пожалуйста, проверьте почту и  перейдите по ссылке в письме.
        {% endblocktrans %}
      </p>
    </div>
  </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}