{% extends "base.html" %}


{% block title %}

    <div class="container-header">
      <div class="container">
        <div class="page-header">
          <h1><i class="fa fa-list"></i> Список пользователей</h1>
        </div>
      </div>
    </div>

{% endblock %}


{% block content %}

<div class="col-md-8 col-md-offset-2 student-list">
{% if user.is_staff %}

  <nav class="navbar navbar-default">
    <div class="container-fluid">

    <form method="GET" action="" class="navbar-form navbar-left" role="search">
      <input type="text" name="q" class="form-control" placeholder="Введите параметр (регистр важен!)" value="{{request.GET.q}}">
      <button type="submit" class="btn btn-default">Искать пользователя</button>
    </form>

    </div>
  </nav>

  <table class="table table-striped">
    <tbody>
      {% for u in users %}
        <tr>
          <td>
            <div class="profile-photo">
              {% if u.userdetail.photo %}
                <div class="profile-photo-container">
                  <a href="{% url 'profile' u.pk %}">
                    <img src="{{ u.userdetail.photo.url }}" alt="{{u.userdetail.last_name}} {{u.userdetail.first_name|slice:'1'}}.{{u.userdetail.middle_name|slice:'1'}}" />
                  </a>
                </div>
              {% else %}
                <div class="no-photo-container">
                  <span class="fa-stack">
                    <i class="fa fa-camera fa-stack-1x"></i>
                    <i class="fa fa-ban fa-stack-2x text-danger"></i>
                  </span>
                  <p>Нет фото</p>
                </div>
              {% endif %}
            </div>
          </td>
          <td>
            <a href="{% url 'profile' u.pk %}"><p>{{u.username}}</p></a></td>
          <td>
            <a href="{% url 'profile' u.pk %}"><p>{{u.userdetail}}</p></a></td>
          <td>
            {% if u.userdetail.get_education %}
              <p>{{u.userdetail.get_education.faculty.abbr}} '
              {{ u.userdetail.get_education.end_date|date:"Y" }}</p>
            {% endif %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td><p class="lead">Данные отсутствуют</p></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}

  <div class="alert alert-warning" role="alert">
    <p><i class="fa fa-exclamation-triangle"></i> У Вас недостаточно прав для просмотра данной страницы!</p>
  </div>

{% endif %}
</div>

{% endblock content %}